<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dubbo.mapper.AdminMapper">

    <select id="getById" resultType="com.example.demo.dubbo.entity.Admin">
        select id,name,password from admin where id = #{id}
    </select>

</mapper>
